

/*header section*/
.active{
    background-color: orange;
}
.logo{
    position: absolute;
     top: -3.1rem;
    transform: translateX(-52%);
    left:50%;
    padding:0 1rem;
    z-index: 999;
    width:17rem;
    height:15rem;
clip-path: polygon(100% 15%, 100% 50%, 100% 85%, 50% 80%, 0 85%, 0 15%);

}
.logo-img{
    width:100%;
   height:100%;
   box-shadow: 0 5px 5px 7px rgba(0, 0, 0,.3);
}
.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color:#005082;
}
.header{
    background-color:#005082;
    padding:.7rem 0;
    position: fixed;
}
header .header-nav{
    background-color:#005082;
    padding:0 10px;
    }
    .navbar-nav-1 li{
display: inline-block;
    }
    .header-nav .head-heading{
        display: inline-block;
        margin: auto;
    }
.inner-image{
    width:100%;
    height: 150px;
}
    header .header-nav a{
        padding:1em .5em;
    }
    header .header-nav h1{
        font-family: 'Times New Roman', Times, serif;
    }
   .navbar {
        padding:0 1rem
    }
    header .navbar  .nav-item a{
    padding:.8rem .7rem;
    font-size:1rem;
    }
    header .carousel-indicators li{
        height:15px;
        width:15px;
        border-radius:100%;
    }
    header .headIcon i{
        cursor: pointer;
        font-size:1.5em;
    
    }
    header .carousel-indicators li.active{
        width:20px;
        height: 20px;
    }
    header .carousel-caption{
        top:5rem;
    }
    .pages h6{
        padding: 0 1rem !important;
    }
    header .header-content{
        padding:2rem 1rem;
        width:20rem;
        border-radius:5px;
        background-color: rgba(94, 93, 93, 0.6);
    }
    header .header-content p{
        color:rgb(235, 235, 235)
    }
    header img{
        height:600px;
    }
    header h2{
        font-family: cursive;
    }
    .social_icon_inside{
        display: none;
    }

.shadow{
    box-shadow: 0 5px 5px 5px rgba(17, 17, 17,.1);
}
.slider {
    height: 50rem;
}
/*features section*/
.features{
    margin-top:10rem;
}
.features p{
    color:gray;
}
.features h3{
    text-transform: capitalize;
}
.features .row .col-md-4 div{
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    transition: all .5s;
}
.features .row .col-md-4 div:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 5px 10px rgba(17, 17, 17,.1);
}

/*featured section*/
.featured{
    padding:7rem 0;
}
hr{
    display: inline-block;
    width:5rem;
    height: 1rem;
    color:black;
}
.cards .card{
    margin:0 1rem;
    opacity:.2;
    transition: all .4s;
}
.cards .card:hover{
    opacity:1;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 51%;
    display: block;
    width: 20px;
    height: 53px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    padding: 1rem 2rem;
    outline: none;
    background:gray;
    z-index: 999;
}
.slick-next {
    right: -10px;
}
.slick-prev,.slick-next:hover{
    background:rgb(56, 53, 53);}

    /*testimonials section*/
    .testimonials{
        padding:7rem 0;
    }
.testimonials h2{
    color:#005082;
}
.testimonials .testi-img{
    width:90%;
    height:40%;
}
.testimonials .testi-p{
    padding:.7rem 2rem;
}
/*footer section*/
    footer{
        background-color:#005082;
        color:white;
        padding:1rem 0;
    }
    .move-up{
        position: fixed;
          background:#fff;
          right:3%;
          padding:.9rem;
          border-radius: 50%;
          background-color: #005082;
          bottom:50%;
      }
      footer .move-up:hover{cursor: pointer;}
    footer .pages{
        list-style-type: none;
    }
 .pages li{
        display: inline-block;
        margin:.5rem .7rem;
    }
  .pages li a{
        text-decoration: none;
        color:white;
        text-transform: capitalize;
        font-size: 1rem;
    }
    footer .pages li{
        display: inline-block;
        margin:.5rem .7rem;
    }
 footer .pages li a{
        text-decoration: none;
        color:white;
        text-transform: capitalize;
        font-size: 1.3rem;
        font-weight: bold;
    }
    footer span{
        font-size: 1.3rem;
        font-weight: bold;
    }
    /*
    about page
    */
    .about_image{
        background-image: url(../images/home-real.jpg);
        height:12rem;
        background-position:center;
        background-size: cover;
    }
    .about_content{
        padding:5rem 0;
    }
    .about_content h2{
        color: #005082;
    }
    .about_content ul{
        list-style: none;
    }
    .about_content ul li{
        padding:1rem .1rem;
    }

    /*
    contact page
    */
    .contact{
        padding:5rem 0;
    }
    .contact .iframe{
        width:100%;
    }
    .contact h2{
        color: #005082;
    }
    .contact_info{
        padding-left:0;
        list-style: none;
    }
    .contact_info li{
        padding:1rem .1rem;
    }
    .contact_info li i{
        color:white;
        background-color: #005082;
        padding:.5rem;
        border-radius:100%;
    }
   .contact_info .icon{
     float: left;
     margin-right:.5rem;
   }



    /*
    @media

     
    */
    @media (max-width:992px){
        header .navbar .nav-item a {
            padding: .9rem 1rem;
        }
        header .header-nav {
            background-color: #005082;
            padding:0;
        }
        .collapse.show {
            margin-top: 1rem;
            display: block;
        }
        .logo{
            height: 10rem;
        }
        header .header-nav a{
            padding:.5rem 0 .5rem .5rem;
        }
        .social_icon{
            display: none;
        }
        .header-pages{
            display: none;
        }
        .social_icon_inside{
            display: block;
        }
        .social_icon_inside i,.social_icon_inside h6{
            color:#005082;
            font-weight: bold;
        }
    
    }
    @media (max-width: 768px){
        header .header-nav {
            background-color: #005082;
            padding: 0;
        }
       
        .logo{
            height: 10rem;
        }
        .header-nav  .pages li{
            display: inline-block;
            margin:.5rem .5rem;
        }
    
     .testimonials .testi-p{
        padding:.7rem .2rem;
    }
  
     .pages{
         text-align: center;
     }
     .pages li{
        margin-left:0;
    }
    }
    @media (max-width: 425px){
        header .header-nav {
            background-color: #005082;
            padding: 0;
        }
        .logo{
      height: 9rem;
    width: 9rem;
        } 
    }
   
